<h1 class="header">새 방명록을 등록해 보아요</h1>
<br>
<br>
<div class="header">
    <form action="create/">
        제목: <input name="input_title" type="text"></input><br>
        내용: <input name ="input_content" type="text"></input><br>
        <input type="submit"></input>
    </form>
</div>
<br>
<br>
<div class="icons"><a href="/notes">목록</a></div>